/*This is the CSS page for our final template.*/

p {
	font-family: 'Playfair', serif;
	font-size: 20px;
}
img {
	float: right;
	margin-right: 5%;
	margin-left: 5%;
}
img {
    float: right;
    margin-right: 5%;
    margin-left: 5%;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}
.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #BFD7EA;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
	font-family: 'Playfair', serif;
}
.footer {
    background-color: #BFD7EA;
} 
.header {
	height: auto;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	font-family: 'Playfair', serif;
	background-color: #0B3954;
	color:  #BFD7EA;
}
h4 {
	font-style: italic;
	font-size: 25px;
	font-family: 'Playfair', serif;
}
h3 {
	font-family: "Playfair display", sans-serif;
  	font-weight: 500;
  	font-style: bold;
	font-size: 30px;
}

.site-wrapper {
    max-width: 800px;   
    margin: 0 auto;     
    padding: 20px;      
}
ul, li {
    font-family: 'Playfair', serif;
    font-size: 20px;
}


/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}
