/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Poppins', serif;
	background-color: #0B3954;
	color: #BFD7EA;
}
h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Times New Roman', serif;
}
h3 {
	font-size: 20px;
}
img {
    float: right;
    margin-right: 5%;
    margin-left: 5%;
}
img:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}



/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}
